logs/*.log
logs/*.log.*
logs/*.txt
logs/upstart/*
config/settings.yml
public/img/leftbar.png
public/img/logo.png
public/img/startscreen.png
public/img/star_half.png
public/img/star_whole.png
*.db
aktivehyller.mp4
screenshot.png
