form id="barcode"
  input type="text" class="barcodeinput" value="" style="display:none"
  input type="submit" class="barcodesubmit" style="display:none"
  
  javascript:
    var barcodeinput = '';
    
    $(document).keypress(function(e){
      var key = String.fromCharCode(e.which);
      if(e.which == 13){ // (Enter ascii code 13)
        console.log(barcodeinput);
        console.log("enter pressed");
        if(barcodeinput.length == 14) {
          $('barcodeinput').val(barcodeinput);
          $("#barcode").attr("action", "/omtale/"+barcodeinput.substr(5,6));
          $('#barcode').submit();
        } else {
          console.log("invalid barcode");
          barcodeinput = '';
        }
      } else {
        // append barcode
        barcodeinput += key;
      }
    });

