div id="liste-wrapper"
  ul class="listevisning"
    - book.same_author_collection.each_with_index do |same_author_book, index|
      a href="/omtale" class="liste-link"
        li
          p class="liste-tittel" #{same_author_book[:title]}
          p class="liste-forfatter" #{same_author_book[:creatorName]}
          input[class="tnr_id" type="hidden" value="#{same_author_book[:book].to_s.match(/tnr_(.*)/)[1]}"]
          hr style="width:100%;"
          div class="liste-bilde"
            - if same_author_book[:cover_url]
              img src="#{same_author_book[:cover_url]}" class="listevisning"
            - else
              div id="omtale-bilde-liste"
                div id="inner-border-liste"
                  div.book-author-liste #{same_author_book[:creatorName]}
                  div.book-title-liste #{same_author_book[:title]}
div id="fade-to-white"

== render :slim, :'websocket' if SETTINGS["rfid"]
== render :slim, :'barcode' if SETTINGS["barcode"]
== render :slim, :'error_report' if SETTINGS["error_report"]

javascript:
  $(document).ready(function () {

    $('button#avbryt-knapp').on('click', function() {
      $('#overlay').hide();
      $('#vi-leter').hide();
      if(request) {request.abort();} //abort running requests
    });
  

    // loading animation
    i = 0;
    setInterval(function() {
      i = ++i % 4;
      $("#loading").html(""+Array(i+1).join("."));
    }, 500);

    $('a.liste-link').on('click', function(evt) {
      evt.preventDefault();
        var title = $(this).find('p.liste-tittel').html();
        var tnr = $(this).find('input.tnr_id').val();
        // show overlay
        $('#overlay').show();
        $('button#avbryt-knapp').html('Avbryt');
        $('div#vi-leter p').html("#{t.fetching_info} \"" + title + '" <div id="loading"></div>' );
        $('#vi-leter').show();

        request = $.ajax({
          url: '/populate/'+tnr,
          type: 'GET'});

        request.done(function(msg) {
          $.get('/copy', function(data) {
            window.location.replace("/omtale");
          });
        });

        request.fail(function(jqXHR, textStatus, errorThrown) {
          return;
        });
    });

  });
