== render :slim, :'header'

== render :slim, :'menu', locals: {book: book, history: history}

div id="contents"
  ul class="listevisning"
    - history.each do |h|
      a href="/omtale" class="liste-link"
        li
          input[class="tnr_id" type="hidden" value="#{h[:tnr].to_s.match(/tnr_(.*)/)[1]}"]
          p class="liste-forfatter" #{h[:creatorName]}
          p class="liste-tittel" #{h[:title]}
          hr style="width:100%;"
          div class="liste-bilde"
            - if h[:cover_url]
              img src="#{h[:cover_url]}" class="listevisning"
            - else
              div id="omtale-bilde-liste"
                div id="inner-border-liste"
                  div.book-author-liste #{h[:creatorName]}
                  div.book-title-liste #{h[:title]}
                  p ~
div id="vi-leter"
  p Vi leter etter boka, vennligst vent
  div id="avbryt"
    button[class="top-button" id="avbryt-knapp"] Avbryt
div[id="overlay"]

javascript:
  if (window.WebSocket) {
    var ws = new WebSocket('ws://localhost:3000/example');
    ws.onopen = function() {
      console.log("ws connected!");
    }
    ws.onclose = function() {
      console.log("ws closed.");
    }
    ws.onmessage = function(msg) {
      alert(msg);
    }
  }
  $(document).ready(function () {

   $('button#avbryt-knapp').on('click', function() {
      $('#overlay').hide();
      $('#vi-leter').hide();
    });

    // loading animation
    i = 0;
    setInterval(function() {
      i = ++i % 4;
      $("#loading").html(""+Array(i+1).join("."));
    }, 500);

    $('a.liste-link').on('click', function(evt) {
      evt.preventDefault();
        var title = $(this).find('p.liste-tittel').html();
        var tnr = $(this).find('input.tnr_id').val();
        // show overlay
        $('#overlay').show();
        $('button#avbryt-knapp').html('Avbryt');
        $('div#vi-leter p').html('Henter informasjon om "' + title + '" <span id="loading"></span>' );
        $('#vi-leter').show();

        var request = $.ajax({
          url: '/populate/'+tnr,
          type: 'GET'});

        request.done(function(msg) {
          window.location.replace("/omtale");
        })

        request.fail(function(jqXHR, textStatus, errorThrown) {
          return;
        });
    });

  }); 