div id="liste-wrapper"
  ul class="listevisning"
    - book.similar_works_collection.each_with_index do |similar_work, index|
      a href="/omtale" class="liste-link"
        li
          input[class="tnr_id" type="hidden" value=(similar_work[:book_id].to_s.match(/tnr_(.*)/)[1])]
          p class="liste-tittel" #{similar_work[:title]}
          p class="liste-forfatter" #{similar_work[:authors]}
          hr style="width:100%;"
          div class="liste-bilde"
            - if similar_work[:cover_url]
              img src="#{similar_work[:cover_url]}" class="listevisning"
            - else
              div id="omtale-bilde-liste"
                div id="inner-border-liste"
                  div.book-author-liste #{similar_work[:authors]}
                  div.book-title-liste #{similar_work[:title]}
div id="fade-to-white"

== render :slim, :'websocket' if SETTINGS["rfid"]
== render :slim, :'barcode' if SETTINGS["barcode"]
== render :slim, :'error_report' if SETTINGS["error_report"]

javascript:
  $(document).ready(function () {

    $('button#avbryt-knapp').on('click', function() {
      $('#overlay').hide();
      $('#vi-leter').hide();
      if(request) {request.abort();} //abort running requests
    });

    $('a.liste-link').on('click', function(evt) {
      evt.preventDefault();
        var title = $(this).find('p.liste-tittel').html();
        var tnr = $(this).find('input.tnr_id').val();
        // Save tnr & title in case of retry
        $('#seeking_tnr').val(tnr);
        $('#seeking_title').val(title);

        // show overlay
        $('button#retry-knapp').hide();
        $('#overlay').show();
        $('button#avbryt-knapp').html("#{t.cancel}");
        $('div#vi-leter p').html("#{t.fetching_info} \"" + title + '" <div id="loading"></div>' );
        $('#vi-leter').show();

        request = $.ajax({
          url: '/populate/'+tnr,
          type: 'GET'});

        request.done(function(msg) {
          $.get('/copy', function(data) {
            window.location.replace("/omtale");
          });
        });

        request.fail(function(jqXHR, textStatus, errorThrown) {
          $('div#vi-leter p').html('&#9760; Beklager, dette tok for lang tid!' );
          $('button#retry-knapp').show();
          return;
        });
    });

  $('#retry-knapp').on('click', function(evt) {
    evt.preventDefault();
      var tnr = $('#seeking_tnr').val();
      var title = $('#seeking_title').val();

      // show overlay
      $('button#retry-knapp').hide();
      $('#overlay').show();
      $('button#avbryt-knapp').html('Avbryt');
      $('div#vi-leter p').html("#{t.fetching_info} \"" + title + '" <div id="loading"></div>' );
      $('#vi-leter').show();

      request = $.ajax({
        url: '/populate/'+tnr,
        type: 'GET'});

      request.done(function(msg) {
        $.get('/copy', function(data) {
          window.location.replace("/omtale");
        });
      });

      request.fail(function(jqXHR, textStatus, errorThrown) {
        $('div#vi-leter p').html('&#9760; Beklager, dette tok for lang tid!' );
        $('button#retry-knapp').show();
        return;
      });
  });

  });
