div id="contents"
  div id="liste-wrapper"
    ul class="listevisning"
      - book.similar_works_collection.each_with_index do |similar_work, index|
        a href="/omtale" class="liste-link"
          li
            input[class="tnr_id" type="hidden" value="#{similar_work[:book].to_s.match(/tnr_(.*)/)[1]}"]
            p class="liste-forfatter" #{similar_work[:creatorName]}
            p class="liste-tittel" #{similar_work[:title]}
            hr style="width:100%;"
            div class="liste-bilde"
              - if similar_work[:cover_url]
                img src="#{similar_work[:cover_url]}" class="listevisning"
              - else
                div id="omtale-bilde-liste"
                  div id="inner-border-liste"
                    div.book-author-liste #{similar_work[:creatorName]}
                    div.book-title-liste #{similar_work[:title]}
div id="vi-leter"
  == t.looking
  div id="avbryt"
    button[class="top-button" id="avbryt-knapp"] == t.cancel
div[id="overlay"]

== render :slim, :'websocket'
javascript:
  $(document).ready(function () {

   $('button#avbryt-knapp').on('click', function() {
      $('#overlay').hide();
      $('#vi-leter').hide();
      request.abort();
    });

    // loading animation
    i = 0;
    setInterval(function() {
      i = ++i % 4;
      $("#loading").html(""+Array(i+1).join("."));
    }, 500);

    $('a.liste-link').on('click', function(evt) {
      evt.preventDefault();
        var title = $(this).find('p.liste-tittel').html();
        var tnr = $(this).find('input.tnr_id').val();
        // show overlay
        $('#overlay').show();
        $('button#avbryt-knapp').html("#{t.cancel}");
        $('div#vi-leter p').html("#{t.fetching_info} \"" + title + '" <div id="loading"></div>' );
        $('#vi-leter').show();

        request = $.ajax({
          url: '/populate/'+tnr,
          type: 'GET'});

        request.done(function(msg) {
          $.get('/copy', function(data) {
            window.location.replace("/omtale");
          });
        });

        request.fail(function(jqXHR, textStatus, errorThrown) {
          return;
        });
    });

  });
