*                  { margin:0; padding:0; border:0; /*cursor: none;*/ }
.select-disable     { -khtml-user-select: none; -moz-user-select: none;
                    -o-user-select: none;  user-select: none; }
button::-moz-focus-inner { border: 0; }
body               { font-family: Arial; font-size:100%; overflow:hidden}
h2                 { font-size: 2em; color: #222; letter-spacing: 2px; line-height: 1.1em ;}
h3                 { font-weight: normal; margin-bottom:10px; font-size:1.5em;}
hr                 { border: 1px solid gray; width: 91%; margin-top: 20px; margin-bottom: 20px;}
a:link             { text-decoration: none; color: #444;}
a:visited          { color: #444;}
a:active, a:focus  { outline-style: none; outline: 0; }
.disabled          { visibility: hidden;}

img#frontarrow     { position:fixed; left:900px; top:650px;}
img#frontbook      { position:fixed; left:1280px; top: 400px;}
div#overlay        { position: fixed; width:100%; height: 100%; top:0; left: 0;
                     z-index: 50; background: #000; opacity: 0.8; display:none;}
div#vi-leter       { color: #fff; position:fixed; display:none;
                     top: 470px; left:0px; z-index:1000; width:1680px; text-align:center;}
#vi-leter p        { font-size:3em; }
div#avbryt         { z-index: 1000; position: fixed; top: 570px; left: 720px;}

div.clearfix       { clear:both;}
div#barcode_search { text-align: center; padding: 20px;}
#loading           { width:60px; display:inline-block; text-align:left;}
input.barcode_field  { border:1px solid gray; margin-top:150px; padding: 10px; text-align: center; font-style: italic; color:#666;}

div.image-wrapper  { width: 250px; height:360px; position:relative;}
div.image-big      { background: #fff; box-shadow: 6px 6px 7px 2px rgba(0,0,0,0.35);
                     position:relative; width: 250px; max-height:360;}
img.omtalt-bok     { width: 230px; max-height: 340px; border: 10px solid white;
                     box-shadow: 5px 6px 7px 2px rgba(0,0,0,0.25);
                      position:absolute;top:0;bottom:0;margin:auto;}
div.hyllestatus    { font-size:1.5em; bottom:30px; left:-7px; display:block; position:absolute; text-align:center;
                     color:#fff; padding:5px; background:green; opacity:0.7; width:250px;}
div#omtale-bilde   { display: block; width: 255px; height: 380px; background:#eee; padding:20px;}
div#inner-border   { padding: 20px; border:2px solid gray; background: #eee; height:338px; text-align: center;}
div.book-title     { color:#333; font-family: Times; font-size: 2.3em; margin-bottom: 60px; font-style: italic;}
div.book-author    { color:#333; font-family: Arial; font-size: 1.5em; margin: 20px;}

div.no-review      { padding:1em; font-size: 1.5em;}
div.no-review p    { line-height: 1.2em;}
div.no-review li   { margin-left: 1em; padding: 0.2em;}

div.review         { font-size: 1.3em; padding:40px; width:92%; height:80%; overflow:auto; }
p.source         { font-size: 0.7em; margin-top:1em; font-weight:bold;}

div#debug          { background-color:yellow; border: 1px solid black; border-radius: 2px;}
div#container      { width: 1680px; height:1050px; color: #222;}
div#nysgjerrig     { width:100%; height: 100%; vertical-align: middle}
div#nysgjerrig-tittel { margin-top:100px; font-size: 6em; font-weight: bold; text-align: center}
div#nysgjerrig-undertittel { margin:200px;font-size: 4em; text-align: center}

div#header         { margin-left:400px; height: 135px; width: 1225px; padding-top:35px; background:#fff;}
p#title            { font-size: 2.5em; font-weight: bold; color: #333;}
p#sub-title        { margin-top: 15px;font-size: 1.6em; font-weight: bold; color: #333;}

div#left-bar       { float:left; width: 298px; height: 1050px; position:relative;
                     background-image: url("../img/leftbar.png");}

div#avslutt-container { position: absolute; bottom:0; left:0;}

div#logo-container { height:170px; background: #444;}
div#top-buttons    { float: right; margin: 24px;}
div#contents       { padding: 0; float: left; width: 1365px; overflow:hidden;}
div#content-left   { margin-left: 94px; height: 460px; width: 300px; float: left; }

div#content-right  { float: left; margin-left:85px; width:785px; height: 460px; }
div#content-bottom { clear:both; margin-top: 55px; width:1365px; height:367px;
                     background: #555; color: #fff; padding:10px;}
div.flere          { float:left; width: 660px; padding-left:10px;}
div.relaterte      { float:left; width: 660px; border-left: 2px dashed white; padding-left:20px;}
img.logo           { width: 150px; margin-top:70px; margin-left:10px;}
button.top-button  { border-radius: 5px; height: 80px; width: 240px;
                     margin-left: 24px; font-size: 1.2em; color: #444;
                     box-shadow: 6px 6px 7px 2px rgba(0,0,0,0.15);
                     background: -moz-linear-gradient(top,  #eee,  #b5b5b5);}
.top-button:active { position:relative; top: 3px; }

button.square      { height: 120px; width: 160px; color: #444; margin: 33px;
                     box-shadow: 6px 6px 7px 2px rgba(0,0,0,0.15);
                     background: -moz-linear-gradient(top,  #eee,  #b5b5b5);
                     font-size: 1.2em; font-weight: bold;}
button.square:active { position: relative; top: 3px; color: #000;
                       border: 1px solid gray; box-shadow: 0;
                       background: -moz-linear-gradient(bottom,  #eee,  #aaa)}
#tilbake             { margin-top: 184px;}
div.liste-small     { width:130px; height:300px; float:left; margin-right:40px;
                      overflow: hidden; cursor: pointer;}
   .liste-small p   { word-wrap: break-word; margin-top:10px;}
div.cover-small     { width:130px; height:180px; overflow:hidden;;
                      background: #fff; box-shadow: 6px 6px 7px 2px rgba(0,0,0,0.35);
                       position:relative;}
   .cover-small img { width:120px; max-height:170px; border: 5px solid white;
                      position:absolute;top:0;bottom:0;margin:auto;}
div.cover-small-missing { width:120px; height:170px; border: 5px solid white;
                          background: -moz-linear-gradient(top,  #eee,  #b5b5b5);
                          text-align: center; color:#444; display:table-cell; vertical-align:middle; }

div#omtale-wrapper { width: 815px; height:460px; border: 2px solid #aaa;
                     box-shadow:inset 0 0 10px #bbb; background:#eee; overflow:hidden;}

div#omtale-scroll  { float: right; margin-right:20px; }
div.rating         { width:218px; height:60px; border: 1px solid #aaa; padding:14px;}
div.ratings        { margin-top: 10px; font-size: 0.9em; display:table; text-align:center;}
.ratings span      { display:table-cell; vertical-align: middle; padding-left:1em;}
                     width:260px; height: 30px; text-align: center;}
.inne              { background: green; opacity:0.7; color: #fff;}

#scrollable        { position:relative; overflow:hidden; height: 575px; }

img.rating         { margin-top: 20px; margin-bottom: 10px;;}
img.scroll-icon    { width: 60px;}

div#omtale-bilde-liste   { display: block; height: 260px; width: 220px; background:#eee; padding:20px;}
div#inner-border-liste   { padding: 10px; border:2px solid gray; background: #eee; height: 230px ; width: 160px; text-align: center;}
div.book-title-liste     { color:#333; font-family: Times; font-size: 1.3em; margin-bottom: 60px; font-style: italic;}
div.book-author-liste    { color:#333; font-family: Arial; font-size: 0.9em; margin: 20px;}

div#liste-wrapper  { overflow:auto; width:1430px; height: 882px;}
div.liste-bilde    { height:300px; width: 240px; margin: auto; overflow:hidden;
                     padding: 0; border:0px solid white; }
ul.listevisning    { list-style-type: none }
ul.listevisning li { display: inline-block; width: 260px; height: 450px;
                     background-color: #ccc; margin: 0 50px 50px 0; padding: 20px;
                     border-radius: 5px; box-shadow: 1px  2px 20px 5px rgba(0,0,0,0.1);
                     text-align: center; overflow:hidden;}
img.listevisning   { height: 300px;}
p.liste-forfatter  { text-align: left; font-size:18px; font-weight: bold; margin-bottom: 5px; margin-left: 20px;}
p.liste-tittel     { text-align: left; font-size:18px; margin-left:20px;}

ul.review-list     { list-style:none; padding:0; margin:0; width:100%; text-align:left;}
ul.review-list li  { padding:0 10px; height:300px; }

/* slider container */
.iosSlider {
    /* required */
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;

    width: 815px;
    height: 460px;
}

/* slider */
.iosSlider .slider {
    /* required */
    width: 100%;
    height: 100%;

}

/* slide */
.iosSlider .slider .slide {
    /* required */
    float: left;
    overflow:hidden;
    width: 835px;
    height: 400px;}

.indicator-wrapper {
    position: absolute;
    bottom: 10px;
    left:50%;
}

#indicator li { display:block; float:left; list-style:none; width:8px; height:8px;
                background: #aaa; border-radius:4px; text-indent:-9999em;
                margin-right:4px;}
#indicator li.active { background: #f8941d ;}