[Desktop Entry]
Encoding=UTF-8
Name=aktivehyller
Comment=Aktive hyller
Exec=/home/aktiv/code/aktive-hyller/scripts/aktivehyller.sh
Type=Application
Categories=;
NotShowIn=GNOME;
NoDisplay=true
